<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
  <body>
    <noscript>
      <h2>Sorry! Your browser doesn't support Javascript</h2>
    </noscript>

    <div id="task-page">
        <div class="task-container">
            <div class="task-header">
                <h2>Page not found</h2>
            </div>
            <div id="taskArea">
              <span style="font-size: 20rem; margin: 5rem;">404</span>
            </div>            
        </div>
    </div>
  </body>
</html>