<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home | Spring Boot To-do App</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <noscript>
        <h2>Sorry! Your browser doesn't support Javascript</h2>
    </noscript>

    <div id="task-page">
        <div class="task-container">
            <div class="task-header">
                <h2>Todo list</h2>
            </div>
            <ul id="taskArea">
                <li th:each="task : ${taskList}">
                    <table>
                        <tr>
                            <td style="width: 85%;" th:text="${task.taskTitle}"></td>
                            <td style="width: 7%;">
                                <a th:href="@{/edit(id=${task.taskId})}">Edit</a>
                            </td>
                            <td style="width: 8%;">
                                <a th:href="@{/delete(id=${task.taskId})}">Delete</a>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <form id="taskForm" name="taskForm" nameForm="taskForm" th:action="@{/save}" th:object="${task}" th:method="post">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input th:type="hidden" th:name="taskId" th:value="${task.taskId}">
                        <input type="text" th:name="taskTitle" th:value="${task.taskTitle}" placeholder="Type a task..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <a href="#" class="float" target="_blank">
            <i class="fa fa-sign-out my-float"></i>
        </a>
    </div>

</body>
</html>